<h1>Sign Up</h1>

<%= form_for :user, url: '/users' do |f| %>
  <div class="row">
    <div class="form-group">
      <div class="col-xs-3">
        First name: <%= f.text_field :fname, class: 'form-control' %>
        Last name: <%= f.text_field :lname, class: 'form-control' %>
        Email: <%= f.text_field :email, class: 'form-control' %>
        Password: <%= f.password_field :password, class: 'form-control' %>
        Password Confirmation: <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>

<% end %>